@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,400,700|Roboto:100,400,700");

div {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  border-top: 30px solid white;
  border-left: 50px solid white;
}

.left-h-container {
  flex: 1 1 0;
  align-self: center;
  margin-left: 30px;
}

.right-h-container {
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border-bottom: 50px solid white;
  border-left: 50px solid white;
}

.half-h-containers {
  flex: 1;
  overflow: auto;
}

h1 {
  color: #876445;
  font-family: "Noto Serif TC", serif;
  font-size: 6rem; /* 96px */
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 800;
  text-align: right;
  margin: auto;
  padding-right: 5%;
  text-shadow: 2px 2px 2px #603601;
}

.line {
  width: 5rem; /* 80px */
  height: 0.5rem; /* 8px */
  background-color: #cc9544;
  margin-top: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
  margin: 0px;
}

h2 {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-weight: 100;
  text-align: right;
  padding-right: 5%;
}
