@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.card {
  margin-left: 5%;
  margin-top: 3%;
  border-radius: 30px;
  opacity: 0.8;
  display: flex;
  width: 40%;
  height: 40%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  border: 0.1px solid transparent;
  box-shadow: 0 5px 30px 0 #876445, inset 0px -10px 20px 0px antiquewhite;
}

.card:hover {
  filter: opacity(10px);
  transform: scale(1.05);
  opacity: unset;
  transition: 500ms all ease-in-out 0ms;
}

.title-name-flag-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: #876445;
  margin-top: 0%;
  margin-right: 10px;
}

.flag {
  width: 40px;
  margin-top: 6%;
  margin-left: 50px;
  position: static;
}

.name {
  font-family: "Rubik", sans-serif;
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: #876445;
  margin-left: 80px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin-right: 350px;
  margin-top: 4%;
  position: relative;
}

.image-text-container {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.ingredients {
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  align-self: flex-end;
  right: 50px;
  bottom: 100px;
  position: relative;
}

.belox-text-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.description {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.5px;
  color: peru;
  font-size: 20px;
  bottom: 105px;
  position: relative;
  text-align: justify;
}
