.app-container {
  display: grid;
  grid-template-rows: 10% 80% 10%;

  grid-template-areas: "TopNavBar" "LandingPage";

  width: 100%;

  align-items: center;
  justify-items: center;
}

.app-topNavBar {
  grid-area: TopNavBar;
 float: right;
  
}

.app-LPage {
  grid-area: LandingPage;

  align-items: center;
  justify-items: center;
}
