@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.about-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
}

.item1,
.item2,
.item3,
.item4 {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.item1 {
  background-color: antiquewhite;
  border-left: 50px solid white;
  border-top: 30px solid white;
}

.mexico {
  font-size: 50px;
  letter-spacing: 3px;
}

.mexico-image {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
  margin-left: 30%;
  justify-content: center;
}

.image-text-container {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.mexico-text-right {
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  color: peru;
  margin-right: 50px;
  font-size: 20px;
}

.mexico-text-below {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.5px;
  color: peru;
  font-size: 20px;
  margin-top: 30%;
}
