.about-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
}

.item1,
.item2,
.item3,
.item4 {
  display: flex;
  min-width: 50%;
  min-height: 50%;
}

.mexico {
  font-size: 14px;
  letter-spacing: 3px;
  display: flex;
  align-content: flex-start;
  padding-left: 20px;
}

.cafe1 {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
